*{margin:0;
padding:0;
box-sizing:border-box;
}
.nav{
    width:100%;
    height:75px;
    color:blue;
    background-color:cornflowerblue;
    display:flex;
    align-items:center;
    font-size:45px;
    justify-content:center;
    
    
}
.sidebar{
    height:100%;
    width:200px;
    position:fixed;
    background-color:darkcyan;
    display:flex;
    flex-direction:row;
    
}